@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";




:root{
    --font-display:"Poppins", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary:#875cf5;
}

@layer{
    html{
        font-family: var(--font-display);
    }

    body{
        background-color:#fcfbfc;
        overflow-x: hidden;
    }
}

.input-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(0 0 0);
    background-color: rgb(241 245 249);
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    border-color: rgb(226 232 240);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn-primary {
    /* background-color: var(--color-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    width: 100%;
    margin-top: 1rem; */
   @apply w-full text-sm font-medium text-white bg-violet-500 shadow-purple-600/5 p-2.5 rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600;
}


.card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;

}

.card-btn{
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 
    hover:text-purple-500 
    bg-gray-50 
    hover:bg-purple-50  
    px-4 py-1.5 
    rounded-lg border border-gray-200/50 cursor-pointer;
}
.add-btn{
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-purple-600 whitespace-nowrap bg-purple-50 border-purple-100 rounded-lg px-4 py-2 cursor-pointer;
}

/* .add-btn-fill{
    @apply text-white bg-primary
} */